@use "../../global.scss" as *;


.readingList {
  margin-top: 100px;
  font-family: $font-sans-serif;
  color: $lightThemeText;
  :global(.dark) & {
    color: $darkThemeText;
  }
  margin: 100px 10vw;

  @media (max-width: 775px) {
    margin: 100px 50px;
  }

  h1 {
    font-weight: lighter;
    font-size: 4rem;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 2rem;
  }

  > p {
    margin: 20px 0;
  }
              
  .seriesChips {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }
              
  .seriesHeader {
    display: inline-flex;
    padding: 5px 2px;
    align-items: center;
    margin-bottom: 5px;
    gap: 5px;
    cursor: pointer;

    img {
      width: 20px;
      height: 20px;

      :global(.dark) & {
        filter: invert(100%);
      }
    }

    span {
      text-transform: capitalize;
      font-weight: lighter;
      font-size: 20px;
    }
  }

  .books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 24px 16px;
    margin-top: 40px;

    @media (max-width: 775px) {
      grid-template-columns: 1fr;
    }
  }
}


.bookEntry {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
  padding: 24px 32px;

  &.inProgress {
    background-color: hsl(223deg, 16%, 83%);
    :global(.dark) & {
      background-color: #313244;
    }
    border-radius: 10px;
  }

  > img {
    position: relative;
    height: 250px;
    transition:
      transform 0.2s,
      filter 0.2s;
    cursor: pointer;
    transform: perspective(1000px) rotateY(15deg) rotateX(3deg);
    $shadow-color: #030307;
    filter: drop-shadow(-2px 3px 10px $shadow-color);

    &:hover {
      transform: scale(1.05);
      filter: drop-shadow(-3px 5px 14px lighten($shadow-color, 10%));
    }
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 5px;

    h4 {
      font-weight: 200;
      text-transform: uppercase;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: bold;
    }

    p {
      margin-bottom: 5px;
    }

    .chips {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;

    }
  }
}

.seriesChip {
  transition: transform 0.2s, box-shadow 0.2s;
  font-weight: bold;
  box-shadow: 0px 2px 6px #aaa;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px #bbb;
  }

  :global(.dark) & {
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }
  }
}


.focusedImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: fadeIn 0.2s;
  background-color: #000B;
  backdrop-filter: blur(2px);

  img {
    max-height: 90vh;
  }

  button {
    position: absolute;
    top: 75px;
    left: 30px;
    background: none;
    border: none;
    cursor: pointer;

    img {
      transition: filter 0.1s;
      filter: invert(100%);
      width: 30px;
      height: 30px;

      &:hover {
        filter: invert(70%);
      }
    }
  }
}
