$font-sans-serif: 'Inter', sans-serif;

// Darkened Catppuccin Latte Text
$lightThemeText: hsl(234deg, 16%, 15%);
$darkThemeText: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::selection {
    background: #b4befeAA;
  }
}

body {
  // Catppuccin Latte Base
  background-color: #eff1f5;
  &:global(.dark) {
    background-color: #1e1e2e;
  }

  // background-color: #11111b;
}

a {
  color: #cba6f7;

  &:active {
    color: darken(#cba6f7, 20%);
  }
}

.brushedGold {
  // background: image("./assets/brushed-gold.jpg");
  // background-position: 100% 100%;
}
